body{
    background-image: url('shark-sea.jpg');
    background-repeat: no-repeat;
}

.titleBanner{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4em;
}

.menuBar{
    width: 330px;
}

.clearBoardButton{
    float: left;
    margin: 5px 0px;
}

.startNewGameButton{
    float: right;
    margin: 5px 0px;
}

.board {
    width: 330px;
    height: 330px;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(3,110px);
    grid-template-columns: repeat(3, 110px);
}

.cube{
    margin: 5px;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(3,33px);
    grid-template-columns: repeat(3, 33px);
}

.space{
    margin: 1px;
    background-color: lightgrey;
}

.numberPad{
    margin-left: 115px;
    background-color: black;
}

.numberPadHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 1px;
    width: 101px;
    background-color: lightgrey;
}

.numberPadHeaderText{
    font-size: x-small;
    padding: 1px;
}

.redButton{
    background-color: red;
    color: white;
}

.numberPadBody{
    background-color: black;
    height: 99px;
    display: grid;
    grid-template-rows: repeat(3, 33px);
    grid-template-columns: repeat(3, 33px);
}

.numberPadNumber{
    margin: 1px;
}

.clearButton{
    margin: 1px 25px 1px 25px;
    height: 20px;
    width: 50px;
    text-align: center;
}

.artCredit{
    color: white;
    background-color: gray;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}